<a href="https://colab.research.google.com/github/dkwkdkwkdkwk/Python_practice/blob/main/CodingTest_Day2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ch6 ) 정렬

선택정렬 : 가장 작은 것을 선택

In [1]:
array = [7,5,9,0,3,1,6,2,4,8]

for i in range(len(array)):
  min_index = i
  for j in range(i+1, len(array)):
    if array[min_index] > array[j]:
      min_index = j
  array[i], array[min_index] = array[min_index], array[i]

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

삽입정렬 : 특정힌 데이터를 적절힌 위치에 삽입한다는 의미

In [2]:
array = [7,5,9,0,3,1,6,2,4,8]

for i in range(1, len(array)):
  for j in range(i, 0, -1):
    if array[j] < array[j-1]:
      array[j], array[j-1] = array[j-1], array[j]

print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

< 파이썬의 정렬 라이브러리 >

In [3]:
array = [7,5,9,0,3,1,6,2,4,8]

result = sorted(array)
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
array = [7,5,9,0,3,1,6,2,4,8]

array.sort()
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:

#sorted(key) -> sorted는 key 값을 넣을 수 있음

testCaseOne = ['abc', 'def','hello world', 'hello', 'python']
testCaseTwo = 'Life is too short, you need python'.split()
testCaseThree = list(zip('anvfe', [1,2,5,4,3]))

print(sorted(testCaseOne, key=len))
print(sorted(testCaseOne, key=len, reverse = True))
print(sorted(testCaseTwo, key=str.lower))# 첫글자 알파벳 순으로 정렬
print(sorted(testCaseThree, key=lambda x:x[1])) # 숫자순서를 기준으로 정렬
print(sorted(testCaseThree, key=lambda x:x[0])) # 알파벳 순서를 기준을 정

['abc', 'def', 'hello', 'python', 'hello world']
['hello world', 'python', 'hello', 'abc', 'def']
['is', 'Life', 'need', 'python', 'short,', 'too', 'you']
[('a', 1), ('n', 2), ('e', 3), ('f', 4), ('v', 5)]
[('a', 1), ('e', 3), ('f', 4), ('n', 2), ('v', 5)]

**실전문제**

▶위에서 아래로 ●○○

하나의 수열에는 다양한 수가 존재한다. 이러한 수는 크기에 상관없이 나열되어 있습니다. 이 수를 쿤 수부터 작은 수의 순서로 정렬해야 한다. 수열을 내림차순으로 정렬하는 프로그램을 만드시오.

**입력 조건**
1. 첫째 줄에 수열에 속해 있는 수의 개수 N이 주어진다 ( 1 <= N <= 500 )

2. 둘째 줄부터 N+1번째 줄까지 N개의 수가 입력된다. 수의 범위는 1 이상 100,000이하의 자연수이다.

**출력조건**

입력으로 주어진 수열이 내림차순으로 정렬된 결과를 공백으로 구분하여 출력한다. 동일한 수의 순서는 자유롭게 출력해도 괜찮다.

In [10]:
n = int(input())

array = []
for i in range(n):
  array.append(int(input()))

array = sorted(array,reverse=True)

for i in array:
  print(i,end=' ')

5
8
6
9
8
7
9 8 8 7 6

**<프로그래머스 정렬 문제>**

배열 array의 i번째 숫자부터 j번째 숫자까지 자르고 정렬했을 때, k번째에 있는 수를 구하려 합니다.

예를 들어 array가 [1, 5, 2, 6, 3, 7, 4], i = 2, j = 5, k = 3이라면

array의 2번째부터 5번째까지 자르면 [5, 2, 6, 3]입니다.
1에서 나온 배열을 정렬하면 [2, 3, 5, 6]입니다.
2에서 나온 배열의 3번째 숫자는 5입니다.

배열 array, [i, j, k]를 원소로 가진 2차원 배열 commands가 매개변수로 주어질 때, commands의 모든 원소에 대해 앞서 설명한 연산을 적용했을 때 나온 결과를 배열에 담아 return 하도록 solution 함수를 작성해주세요.

제한사항
array의 길이는 1 이상 100 이하입니다.
array의 각 원소는 1 이상 100 이하입니다.
commands의 길이는 1 이상 50 이하입니다.
commands의 각 원소는 길이가 3입니다.
입출력 예

array : [1, 5, 2, 6, 3, 7, 4]

commands :[[2, 5, 3], [4, 4, 1], [1, 7, 3]]

return : [5, 6, 3]

입출력 예 설명
[1, 5, 2, 6, 3, 7, 4]를 2번째부터 5번째까지 자른 후 정렬합니다. [2, 3, 5, 6]의 세 번째 숫자는 5입니다.

[1, 5, 2, 6, 3, 7, 4]를 4번째부터 4번째까지 자른 후 정렬합니다. [6]의 첫 번째 숫자는 6입니다.

[1, 5, 2, 6, 3, 7, 4]를 1번째부터 7번째까지 자릅니다. [1, 2, 3, 4, 5, 6, 7]의 세 번째 숫자는 3입니다.

In [15]:
def solution(array, commands):
    answer = []
    for command in commands:
        i,j,k = command
        sliced = sorted(array[i-1:j])
        answer.append(sliced[k-1])
    return answer

**<프로그래머스 정렬 문제>**

0 또는 양의 정수가 주어졌을 때, 정수를 이어 붙여 만들 수 있는 가장 큰 수를 알아내 주세요.

예를 들어, 주어진 정수가 [6, 10, 2]라면 [6102, 6210, 1062, 1026, 2610, 2106]를 만들 수 있고, 이중 가장 큰 수는 6210입니다.

0 또는 양의 정수가 담긴 배열 numbers가 매개변수로 주어질 때, 순서를 재배치하여 만들 수 있는 가장 큰 수를 문자열로 바꾸어 return 하도록 solution 함수를 작성해주세요.

제한 사항
numbers의 길이는 1 이상 100,000 이하입니다.
numbers의 원소는 0 이상 1,000 이하입니다.
정답이 너무 클 수 있으니 문자열로 바꾸어 return 합니다.

입출력 예

numbers	            return

[6, 10, 2]	         "6210"

[3, 30, 34, 5, 9]	   "9534330"

In [ ]:
def solution(numbers):
    numbers = list(map(str, numbers))
    numbers.sort(key=lambda x: x*3, reverse=True)
    return str(int(''.join(numbers)))