<a href="https://colab.research.google.com/github/dkwkdkwkdkwk/Python_practice/blob/main/CodingTest_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MAP 과 ZIP

In [ ]:
list(map(lambda x: x % 2 == 0, range(20)))

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [ ]:
list(map(lambda x: x**2, range(20)))

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [ ]:
list(zip(['a','b','c','d'],[1,2,3,4],[10,20,30,40],'ABCD'))

[('a', 1, 10, 'A'), ('b', 2, 20, 'B'), ('c', 3, 30, 'C'), ('d', 4, 40, 'D')]

sort 와 sorted

In [ ]:
#reversed() -> 역정렬
l = [10,5,4,6,8,9]
l.sort()
print(l)

[4, 5, 6, 8, 9, 10]

In [ ]:
#sorted(key) -> sorted는 key 값을 넣을 수 있음

testCaseOne = ['abc', 'def','hello world', 'hello', 'python']
testCaseTwo = 'Life is too short, you need python'.split()
testCaseThree = list(zip('anvfe', [1,2,5,4,3]))

In [ ]:
print(sorted(testCaseOne, key=len))
print(sorted(testCaseOne, key=len, reverse = True))
print(sorted(testCaseTwo, key=str.lower))# 첫글자 알파벳 순으로 정렬
print(sorted(testCaseThree, key=lambda x:x[1])) # 숫자순서를 기준으로 정렬
print(sorted(testCaseThree, key=lambda x:x[0])) # 알파벳 순서를 기준을 정

['abc', 'def', 'hello', 'python', 'hello world']
['hello world', 'python', 'hello', 'abc', 'def']
['is', 'Life', 'need', 'python', 'short,', 'too', 'you']
[('a', 1), ('n', 2), ('e', 3), ('f', 4), ('v', 5)]
[('a', 1), ('e', 3), ('f', 4), ('n', 2), ('v', 5)]

in

In [ ]:
5 not in [1,2,3,4,5]

False

In [ ]:
'''
append() -> 하나의 요소만 추가
clear() -> 모든 요소 삭제
copy() -> 복사
count() -> 갯수
extend() -> 요소를 많이 추가할 때
index() -> 어떤 요소를 찾을 때
insert() -> 해당자리에 요소를 넣을 때
pop() -> 맨 마지막 요소를 빼낼 때
remove() -> 해당 요소를 빼낼 때
reverse()-> 역순으로 정렬
sort() -> 정렬
'''

[1, 2, 3, 4, 5]

copy()

In [ ]:
#copy  -> 여기서 copy를 넣지않으면 [1000, 2,3,4,5]로 출력됨
def listChange(x):
  x[0] = 1000

l = [1,2,3,4,5]
listChange(l.copy())
print(l)

[1, 2, 3, 4, 5]

pop(), append()

In [ ]:
#큐 구조  -> 가장 먼조 들어온 데이터가 가장 먼저 나옴
l=[]

l.append(10)
l.append(20)
l.append(30)
l.pop(0)

10

In [ ]:
#스택 구조 -> 가장 늦게 들어온 데이터 가장 먼저 나감
l=[]

l.append(10)
l.append(20)
l.append(30)
l.pop()

30

튜플

In [ ]:
t = (1,2,3)
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

딕셔너리

In [ ]:
d = {'one':'하나','two':'둘'}
#   dir(d)
#  'clear',
#  'copy',
#  'fromkeys',
#  'get',
#  'items',
#  'keys',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',
#  'values
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['one', 'two'])
dict_values(['하나', '둘'])
dict_items([('one', '하나'), ('two', '둘')])

In [ ]:
del d['one']
d

{'two': '둘'}

In [ ]:
d['one'] = '하나'
d

{'two': '둘', 'one': '하나'}

Set(집합) -> 중복제거 용도로 많이 사용

In [ ]:
s = set('11122345666')
s

{'1', '2', '3', '4', '5', '6'}

In [ ]:
# dir(s)
#  'add',
#  'clear',
#  'copy',
#  'difference', : 차집합 -> 사용법 : 집합하나.difference(집합) 집합하나에서 집합둘 차집
#  'difference_update',
#  'discard',
#  'intersection',
#  'intersection_update',
#  'isdisjoint',
#  'issubset',
#  'issuperset',
#  'pop',
#  'remove',
#  'symmetric_difference',
#  'symmetric_difference_update',
#  'union', -> 합집합
#  'update' -> 한꺼번에 데이터 많이 추가

s.add(7)
s
s.discard(7)
s

{'1', '2', '3', '4', '5', '6'}

In [ ]:
'1' in s

True

In [ ]:
판콜에이 = {'A','B','C'}
타이레놀 = {'A','B','D'}

print(판콜에이.difference(타이레놀)) #차집합
print(판콜에이.intersection(타이레놀)) #교집합
print(len(판콜에이.intersection(타이레놀)))
print(판콜에이.union(타이레놀)) # 합집

{'C'}
{'A', 'B'}
2
{'A', 'C', 'D', 'B'}

**예제1**

단톡방에 x마리의 동물이 대화를 하고 있습니다.
각각의 동물들이 톡을 전송할 때마다 서버에는 아래와 같이 저장됩니다.

serverData = '개리 라이캣 개리 개리 라이캣 자바독 자바독 파이 썬 '

1. 단톡방에는 모두 몇 마리의 동물이 있을까요?톡은 무조건 1회 이상 전송합니다.
2.단톡방에 동물마다 몇 번의 톡을 올렸을까요?

In [ ]:
serverData = '개리 라이캣 개리 개리 라이캣 자바독 자바독 파이 썬 '
len(set(serverData.split()))

d = {}
for i in set(serverData.split()):
  print(i, serverData.split().count(i))
  d[i] = serverData.split().count(i)
d

썬 1
개리 3
라이캣 2
자바독 2
파이 1

{'썬': 1, '개리': 3, '라이캣': 2, '자바독': 2, '파이': 1}

문자열1234566을 숫자로

In [ ]:
for i in '1 2 3 4 5 6 7'.split():
   print(int(i))

1
2
3
4
5
6
7

In [ ]:
[int(i) for i in '1 2 3 4 5 6 7'.split()]

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
list(map(int,'1 2 3 4 5 6 7'.split()))

[1, 2, 3, 4, 5, 6, 7]